/* Global settings */

body {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

img {
  height: 40px;
}
/* Add new contact */
.new-contact {
  width: 30vw;
  margin: 0 30px;
}

.firstGroup {
  border-bottom: 1px solid grey;
}

.firstGroup > div {
  display: flex;
  justify-content: space-between;
  margin: 1rem 30% 2rem 0;
}

.firstGroup > div:nth-child(3) {
  margin-bottom: 1rem;
}

.secondGroup {
  display: flex;
  margin-top: 1rem;
}

.secondGroup > p {
  margin: 0 2rem 0 0;
}

.subGroup {
  padding-left: 1rem;
  border-left: 1px solid grey;
}

.subGroup > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.subGroup input {
  margin: 0 3rem;
}

.subGroup > div:nth-child(4) {
  margin-bottom: 0;
}

input[type="submit"] {
  width: 100%;
  margin-top: 1rem;
}
/* Contact List */

.contact-list {
  width: 60vw;
  margin-right: 30px;
}

.list-item {
  padding: 1rem;
  border: 1.5px solid grey;
  border-radius: 1%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.contact-info > div {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.contact-info > div:last-child {
  padding-bottom: 0;
}

.contact-info img {
  padding-right: 1rem;
}

.name-div p {
  font-weight: 900;
}

.edit-button {
  padding-right: 1rem;
}
